.status-circle {
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  margin: 0px;
  position: relative;
  box-sizing: border-box;
  border: none;
  max-width: 100%;
  padding: 0px;
}

.arrowBack-walletItem-icon {
  font-size: 24px;
  padding: 4px;
}

.locked-amount-span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  inset: 0px;
}
